.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 45px;
    gap: 2rem;
}

.main-container::after,
.main-container::before {
    content: "";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 28.125rem;
    background: #7c66e3;
    position: absolute;
    z-index: -1;
  
}

.main-container::after {
    top: -3rem;
    left: -5rem;
}

.main-container::before {
    bottom: 2rem;
    right: 0rem;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-content h2 {
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom: 1rem;
    animation: fadeIn 2s ease-in-out;
}

.animated-text {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.animated-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: #7c66e3;
    transform: translateX(-100%);
    transition: transform 1s ease;
    z-index: -1;
}

.animated-text:hover::after {
    transform: translateX(0);
}

.main-content p {
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    margin-left: 3px;
}

.download-cv {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #7c66e3;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-cv:hover {
    background-color: #5a4bb5;
}

.main-img {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.main-img > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.main-img > div > img {
    width: 25rem;
    transition: all 0.3s ease;
    border-radius: 65px;
}

.profession {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 1rem;
    animation: fadeIn 2s ease-in-out;
    text-align: center;
}

.main-img > div > img:hover,
.skill-icon img:hover {
    transform: translateY(-0.5rem);
}

@media (max-width: 1025px) {
    .main-content h2 {
        font-size: 3rem;
        line-height: 4rem;
    }
    .main-content p {
        font-size: 0.9rem;
        line-height: 1.6rem;
    }
    .main-img > div > img {
        width: 20rem;
    }
    
    .download-cv {
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
    }
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }
    .main-img {
        margin: 2rem 0;
    }
    .main-container h2 {
        margin-top: 3rem;
    }
    .main-content h2,
    .main-content p {
        width: auto;
        text-align: center;
    }
    .main-container::after,
    .main-container::before {
        width: 18rem;
        height: 18rem;
    }
    .main-container::after {
        top: 0rem;
        left: 0rem;
    }
    .main-container::before {
        bottom: 2rem;
        right: 0rem;
    }
    .download-cv {
        font-size: 0.8rem;
        padding: 0.3rem 0.6rem;
    }
    .profession {
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {
    .main-content h2 {
        font-size: 2.2rem;
        line-height: 3rem;
    }
    .main-content p {
        font-size: 0.8rem;
        line-height: 1.3rem;
    }
    .main-img {
        gap: 1rem;
    }
    .main-img > div > img {
        width: 16rem;
    }
   
    .download-cv {
        font-size: 1rem;
        padding: 0.3rem 0.5rem;
        margin-left: 25px;
    }
    .profession {
        font-size: 1.2rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
