.mobile-menu {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.4s ease;
  box-shadow: 0px 29px 80px rgba(0, 0, 0, 0.3);
}

.mobile-menu.active {
  opacity: 1;
  transform: translateX(0);
}

.mobile-menu-container {
  width: 80%;
  height: 100%;
  background-color: #342864;
  padding: 2rem;
}

.mobile-menu img {
  margin-bottom: 1rem;
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu ul li a {
  color: white; 
  text-decoration: none;
}

.mobile-menu ul li a:hover {
  text-decoration: underline; 
}

.contact-btn {
  color: white;
  border: none;
  border-radius: 65px;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
